* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* Variables */
:root {
  --primary-font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Login Page */
.LoginPage {
  background-image: linear-gradient(to bottom right, #5d59ce, #f45e6fe3);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginPage_Container {
  /* border: 1px solid red; */
  width: 80em;
  height: 55em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.LoginPage_App_Logo {
  width: 21em;
  height: 21em;
  box-shadow: 0px 0px 30px rgba(59, 59, 59, 0.493);
  border-radius: 50%;
  cursor: pointer;
}

.LoginPage_Container h1 {
  font-size: 3.9em;
  font-family: var(--primary-font-family);
}

.LoginPage_Button_Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LoginPage_Container .LoginPage_Button_Container div {
  width: 40rem;
  height: 5.5rem;
  margin-bottom: 2.1rem;
  border-radius: 15px;
  border-width: 0px;
  cursor: pointer;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.856);
}

.LoginPage_Container .LoginPage_Button_Container div img {
  height: 4em;
  width: 4em;
  margin-left: 5.5em;
}

.LoginPage_Container .LoginPage_Button_Container div h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-left: 5.5rem;
  font-family: "Secular One", sans-serif;
}

/* Designing NavBar and miniplayer of webview */
.HomePage {
  min-height: auto;
  padding-bottom: 11rem;
}

.MVstreamer_Navbar {
  width: 100%;
  background-image: linear-gradient(to right, #b92e22, #236fd1);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px 100px 0px 0px;
  position: fixed;
  bottom: 0px;
}
.NavBar_HomePage_Outline {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition-duration: 200ms;
}
.NavBar_HomePage_Outline:active {
  background-color: #ffffff33;
}
.MVstreamer_MiniPlayer {
  background-image: linear-gradient(to left, #b92e22 30%, #236fd1 70%);
  width: 575px;
  height: 575px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -425px;
  cursor: pointer;
  transition-duration: 100ms;
}
.MVstreamer_MiniPlayer:hover {
  transform: scale(1.014);
}
.MVstreamer_MiniPlayer_Inner {
  background-color: white;
  width: 97.5%;
  height: 97.5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.MVstreamer_MiniPlayer_TimeStamp {
  width: 560px;
  height: 560px;
  position: absolute;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}
.MVstreamer_MiniPlayer_Icons1,
.MVstreamer_MiniPlayer_Icons2,
.MVstreamer_MiniPlayer_Icons3 {
  transform: translate(0%, 100%);
  z-index: 2;
}

.MVstreamer_MiniPlayer_Icons2 {
  margin: 0px 35px 0px 35px;
}

/* Designing Carousel */
.Carousel_Container {
  width: 100%;
  margin-bottom: 5px;
}
.Carousel_UpperBar_Container {
  width: 100%;
  height: 80px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
}

.Carousel_UpperBar_Container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}
.Carousel_App_Icon_And_Title {
  display: flex;
  align-items: center;
}
.Carousel_App_Title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.Carousel_App_Title h1 {
  font-size: 35px;
  font-family: "Secular One", sans-serif;
  font-weight: lighter;
  color: white;
}

.Carousel_App_Title h3 {
  font-size: 15px;
  font-family: "Secular One", sans-serif;
  font-weight: lighter;
  color: white;
}

.Carousel_SearchBar_Container {
  /* border: 1px solid red; */
  width: 310px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.281);
  height: 55px;
  border-radius: 25px;
  padding-left: 15px;
  position: absolute;
  right: 150px;
}

.Carousel_SearchBar_Container input {
  width: 75%;
  height: 60%;
  margin-left: 10px;
  border-width: 0px;
  background-color: transparent;
}

.Carousel_SearchBar_Container input::placeholder {
  color: white;
  letter-spacing: 1px;
}

.Carousel_SearchBar_Container input:read-write {
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Carousel_User_Icon {
  position: absolute;
  right: 20px;
}
.Carousel_Image_Filter {
  width: 100%;
  height: 65vh;
  position: absolute;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.596));
}

.carousel_MV_Info_and_Play_Button {
  /* border: 1px solid white; */
  height: 300px;
  width: 350px;
  left: 65px;
}
.carousel_MV_Info_and_Play_Button h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: start;
  margin-left: 20px;
  color: white;
  position: absolute;
  bottom: 180px;
}
.carousel_MV_Info_and_Play_Button p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: start;
  margin-left: 20px;
  position: absolute;
  bottom: 140px;
}

.Carousel_PlayIcon {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

/* Designing Song Card */

.SongCard_Caraousel {
  margin: 0px 5px 0px 5px;
}

.SongCard_Caraousel h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  margin-top: 15px;
  font-size: 26px;
  /* border: 1px solid red; */
  display: inline-block;
  padding: 5px 25px 0px 10px;
  border-radius: 10px 30px 3px 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(90deg, #e7e5ee 0%, #f0e7e9 100%);
}

.SongCard_Carousel_Container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  background-image: linear-gradient(25deg, #82b2ef69 0%, #ff977733 100%);
  border-radius: 0px 15px 15px 15px;
  margin-top: 0px;
  flex-wrap: wrap;
}

.SongCard {
  /* border: 1px solid blue; */
  width: 30rem;
  display: inline-block;
  border-radius: 13px;
  background-image: linear-gradient(25deg, #236fd1 0%, #ff3d00 100%);
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
  cursor: pointer;
  transition-duration: 200ms;
  flex: 20%;
}
.SongCard:hover {
  transform: scale(1.01);
}

.SongCard_Container {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.644);
}

.SongCard_Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.SongCard_Container .SongCard_SongName,
.SongCard_SingerName,
.SongCard_Date_Time {
  margin-left: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.SongCard_SongName {
  font-size: 20px;
  margin-top: 5px;
}
.SongCard_SingerName {
  font-size: 14px;
}
.SongCard_Date_Time {
  font-size: 12px;
}

/* Designing Music Player Page =================================================================*/
.Music_Player_Background {
  /* position: relative; */
  background-image: url("assets/svg/Music_Player_Background.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: blur(8px); /* Adding blur background image */
}
.Music_Player_Container {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.13);
  font-size: 30px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Music_Player_BackButton_And_Profile {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.Music_Player_BackButton_And_Profile img {
  width: 5.5rem;
  height: 5.5rem;
  filter: none;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.Music_Player_Volume_And_Song_Image_Container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Music_Player_Volume_Controller {
  /* border: 1px solid red; */
  width: 0.3rem;
  height: 28rem;
  display: inline-block;
  background-image: linear-gradient(to bottom, #ff3c0036, #236ed13d);
  border-radius: 5px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
.Music_Player_Current_Volume {
  width: 200%;
  height: 45%;
  bottom: 0px;
  background-image: linear-gradient(to bottom, #ff3d00, #236fd1);
  border-radius: 5px;
  display: grid;
  justify-content: center;
}
.Music_Player_Volume_Controller_Button {
  width: 2rem;
  height: 2rem;
  border: 3px solid rgba(233, 233, 233, 0.986);
  border-radius: 50%;
  background-color: #b43108;
}

.Music_Player_Song_Small_Image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 200ms;
}
.Music_Player_Song_Small_Image:hover {
  transform: scale(1.02);
}
.Music_Player_Big_Image {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.39);
  cursor: pointer;
  transition-duration: 300ms;
}
.Music_Player_Big_Image:hover {
  transform: scale(1.02);
  /* position: absolute; */
}
.Music_Player_Song_Title_Container {
  margin-top: 10px;
}
.Music_Player_Song_Title_Container h2,
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.Music_Player_Song_Title_Container h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.Music_Player_Song_Title_Container p {
  font-size: 1.5rem;
  font-weight: 700;
}
.Music_Player_TimeStamp_ProgressBar_Container {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-evenly;
}
.Music_Player_TimeStamp_ProgressBar_Container h1 {
  font-size: 1.5rem;
  /* border: 1px solid red; */
  width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Music_Player_ProgressBar_Controller {
  width: 90%;
  height: 0.35rem;
  /* border: 1px solid red; */
  background-image: linear-gradient(to left, #ff3c0036, #236ed13d);
  position: relative;
  cursor: pointer;
}
.Music_Player_Buffer_Bar {
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background-image: linear-gradient(to left, #a82a035b, #226dd049);
  display: flex;
  align-items: center;
}
.Music_Player_Current_Progress {
  /* width: 10%; */
  height: 200%;
  /* background-color: red; */
  border-radius: 10px;
  background-image: linear-gradient(to left, #ff3d00, #236fd1);
  display: flex;
  align-items: center;
  justify-content: end;
  transition-duration: 150ms;
  position: absolute;
}
.Music_Player_ProgressBar_Controller_Button {
  width: 2.1rem;
  height: 2.1rem;
  border: 3px solid rgba(233, 233, 233, 0.986);
  border-radius: 50%;
  background-color: #b43108;
  position: absolute;
  right: -0.5rem;
}
.Music_Player_Pause_Play_Next_Previous_Button_Controller {
  /* border: 1px solid blue; */
  padding: 15px 0px 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Designing Upload page */

.Upload_Page_Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom right, #6d69d75e, #f9677857);
}
.Upload_Page_Image_Container {
  width: 45rem;
  height: 50rem;
  background-color: #a7a9b6;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Upload_Page_Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
.Upload_Page_Image_Container h1 {
  color: white;
  font-size: 4rem;
  font-family: var(--primary-font-family);
}
.Upload_Page_Input_Field_Container {
  width: 40rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right bottom, #6d69d7, #f96778e3);
  border-radius: 2rem;
}
.Upload_Page_Title_Field,
.Upload_Page_Singer_Name_Field {
  width: 80%;
  height: 4rem;
  /* background-color: violet; */
  border-radius: 15px;
  border-width: 0px;
}
.Upload_Page_Title_Field,
.Upload_Page_Singer_Name_Field:read-write {
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  padding: 0px 1.5rem 0px 1.5rem;
  outline: none;
}
.Upload_Page_Image_Field,
.Upload_Page_File_Field {
  visibility: hidden;
  position: absolute;
}

.Upload_Page_Image_Field_Picker,
.Upload_Page_File_Field_Picker {
  width: 70%;
  height: 4rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Upload_Page_Image_Field_Picker {
  background-color: #7f3e5f;
}
.Upload_Page_File_Field_Picker {
  background-color: #4e4d6b;
}
.Upload_Page_Image_Field_Picker p,
.Upload_Page_File_Field_Picker p {
  font-size: 2rem;
  font-family: var(--primary-font-family);
  color: white;
}
.Upload_Page_Upload_Button {
  width: 50%;
  height: 4rem;
  border-radius: 15px;
  border-width: 0px;
  font-size: 2rem;
  font-family: var(--primary-font-family);
  background-color: #544799;
  color: white;
}
@media screen and (min-width: 100px) {
  * {
    font-size: 4px;
  }
  .Music_Player_Song_Small_Image {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  * {
    font-size: 6px;
  }
  .Music_Player_Song_Small_Image {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  * {
    font-size: 7px;
  }
  .Music_Player_Song_Small_Image {
    visibility: hidden;
    position: absolute;
  }
}
@media screen and (min-width: 500px) and (max-width: 650px) {
  * {
    font-size: 8px;
  }
  .Music_Player_Song_Small_Image {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  * {
    font-size: 9px;
  }
  .Music_Player_Song_Small_Image {
    visibility: hidden;
    position: absolute;
  }
}

@media screen and (min-width: 800px) {
  * {
    font-size: 10px;
  }
  .Music_Player_Song_Small_Image {
    visibility: visible;
    position: static;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  * {
    font-size: 11px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  * {
    font-size: 12px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  * {
    font-size: 13px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1900px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 15px;
  }
}
