* {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

/* Variables */
:root {
}

/* Login Page */
.LoginPage {
  background-image: linear-gradient(to bottom right, #5d59ce, #f45e6fe3);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginPage_Container {
  /* border: 1px solid red; */
  width: 80em;
  height: 55em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.LoginPage_App_Logo {
  width: 21em;
  height: 21em;
  box-shadow: 0px 0px 30px rgba(59, 59, 59, 0.493);
  border-radius: 50%;
  cursor: pointer;
}

.LoginPage_Container h1 {
  font-size: 3.9em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.LoginPage_Button_Container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.LoginPage_Container .LoginPage_Button_Container div {
  width: 40rem;
  height: 5.5rem;
  margin-bottom: 2.1rem;
  border-radius: 15px;
  border-width: 0px;
  cursor: pointer;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.856);
}

.LoginPage_Container .LoginPage_Button_Container div img {
  height: 4em;
  width: 4em;
  margin-left: 5.5em;
}

.LoginPage_Container .LoginPage_Button_Container div h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-left: 5.5rem;
  font-family: "Secular One", sans-serif;
}

/* Designing NavBar and miniplayer of webview */
.HomePage {
  min-height: 2000px;
}

.MVstreamer_Navbar {
  width: 100%;
  background-image: linear-gradient(to right, #b92e22, #236fd1);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px 100px 0px 0px;
  position: fixed;
  bottom: 0px;
}

.MVstreamer_MiniPlayer {
  background-image: linear-gradient(to left, #b92e22 30%, #236fd1 70%);
  width: 575px;
  height: 575px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -425px;
}
.MVstreamer_MiniPlayer_Inner {
  background-color: white;
  width: 97.5%;
  height: 97.5%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.MVstreamer_MiniPlayer_TimeStamp {
  width: 560px;
  height: 560px;
  position: absolute;
  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  /* background-color: white; */
}
.MVstreamer_MiniPlayer_Icons1,
.MVstreamer_MiniPlayer_Icons2,
.MVstreamer_MiniPlayer_Icons3 {
  transform: translate(0%, 100%);
  z-index: 2;
}

.MVstreamer_MiniPlayer_Icons2 {
  margin: 0px 35px 0px 35px;
}

/* Designing Carousel */
.Carousel_Container {
  width: 100%;
  margin-bottom: 5px;
}
.Carousel_UpperBar_Container {
  width: 100%;
  height: 80px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  position: absolute;
  z-index: 3;
}

.Carousel_UpperBar_Container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}
.Carousel_App_Icon_And_Title {
  display: flex;
  align-items: center;
}
.Carousel_App_Title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.Carousel_App_Title h1 {
  font-size: 35px;
  font-family: "Secular One", sans-serif;
  font-weight: lighter;
  color: white;
}

.Carousel_App_Title h3 {
  font-size: 15px;
  font-family: "Secular One", sans-serif;
  font-weight: lighter;
  color: white;
}

.Carousel_SearchBar_Container {
  /* border: 1px solid red; */
  width: 310px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.281);
  height: 55px;
  border-radius: 25px;
  padding-left: 15px;
  position: absolute;
  right: 150px;
}

.Carousel_SearchBar_Container input {
  width: 75%;
  height: 60%;
  margin-left: 10px;
  border-width: 0px;
  background-color: transparent;
}

.Carousel_SearchBar_Container input::placeholder {
  color: white;
  letter-spacing: 1px;
}

.Carousel_SearchBar_Container input:read-write {
  outline: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.Carousel_User_Icon {
  position: absolute;
  right: 20px;
}
.Carousel_Image_Filter {
  width: 100%;
  height: 65vh;
  position: absolute;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.596));
  /* z-index: 2; */
}

.carousel_MV_Info_and_Play_Button {
  /* border: 1px solid white; */
  height: 300px;
  width: 350px;
  left: 65px;
}
.carousel_MV_Info_and_Play_Button h2 {
  font-size: 35px;
  margin-bottom: 10px;
  text-align: start;
  margin-left: 20px;
  color: white;
  position: absolute;
  bottom: 180px;
}
.carousel_MV_Info_and_Play_Button p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: start;
  margin-left: 20px;
  position: absolute;
  bottom: 140px;
}

.Carousel_PlayIcon {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

/* Designing Song Card */

.SongCard_Caraousel {
  margin: 0px 5px 0px 5px;
}

.SongCard_Caraousel h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  /* margin-left: 10px; */
  margin-top: 15px;
  font-size: 26px;
  /* border: 1px solid red; */
  display: inline-block;
  padding: 5px 25px 0px 10px;
  border-radius: 10px 30px 3px 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(90deg, #e7e5ee 0%, #f0e7e9 100%);
}

.SongCard_Carousel_Container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  background-image: linear-gradient(25deg, #82b2ef69 0%, #ff977733 100%);
  border-radius: 0px 15px 15px 15px;
  margin-top: 0px;
}

.SongCard {
  /* border: 1px solid blue; */
  display: inline-block;
  border-radius: 13px;
  background-image: linear-gradient(25deg, #236fd1 0%, #ff3d00 100%);
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

.SongCard_Container {
  /* width: 20rem; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.644);
}

.SongCard_Image {
  width: 100%;
  object-fit: cover;
  /* margin: 3%; */
  border-radius: 10px;
}
.SongCard_Container .SongCard_SongName,
.SongCard_SingerName,
.SongCard_Date_Time {
  margin-left: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.SongCard_SongName {
  font-size: 20px;
  margin-top: 5px;
}
.SongCard_SingerName {
  font-size: 14px;
}
.SongCard_Date_Time {
  font-size: 12px;
}

@media screen and (min-width: 100px) {
  * {
    font-size: 4px;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  * {
    font-size: 6px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  * {
    font-size: 7px;
  }
}
@media screen and (min-width: 500px) and (max-width: 650px) {
  * {
    font-size: 8px;
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  * {
    font-size: 9px;
  }
}

@media screen and (min-width: 800px) {
  * {
    font-size: 10px;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
  * {
    font-size: 11px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
  * {
    font-size: 12px;
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  * {
    font-size: 13px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 1900px) {
  * {
    font-size: 14px;
  }
}
@media screen and (min-width: 1900px) {
  * {
    font-size: 15px;
  }
}
